<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467115926213-r3sgt5blq7ie2m50upcmc3kqbbols5e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467115926213-r3sgt5blq7ie2m50upcmc3kqbbols5e1</string>
	<key>API_KEY</key>
	<string>AIzaSyCjMzXhc1B278v91k1tvLqOQKZ-FJlsT2I</string>
	<key>GCM_SENDER_ID</key>
	<string>467115926213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutter03</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-03-9b0f5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-03-9b0f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467115926213:ios:b9e8fdd5b345b4c26546ac</string>
</dict>
</plist>